body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  cursor: none;
}

* {
  box-sizing: border-box;
}

section {
  padding: 4rem;
  width: 100%;
  border: solid 6px red;
  min-height: 60vh;
}

section h1 {
  font-size: 4rem;
}

.layer {
  width: 100%;
}
.layer.first-layer {
  position: relative;
  background-color: white;
  color: black;
}

.layer.second-layer {
  background-color: black;
  color: white;
  position: absolute;
  top: 0%;
  left: 0%;

  width: 100%;
  clip-path: circle(var(--size, 80px) at var(--x, 10%) var(--y, 10%));
  transition: clip-path 60ms ease-in-out;
}

button {
  padding: 1rem;
  background-color: transparent;
  color: black;
  border: solid 1px black;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.layer.second-layer button {
  background-color: transparent;
  color: white;
  border: solid white 1px;
}

.page-wrapper {
  position: relative;
}

.grid-item {
  width: 8rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  border-radius: 2rem;
}

.grid-item.first-layer {
  background-color: black;
  color: white;
}
.grid-item.second-layer {
  background-color: white;
  color: black;
}
